.cards {
   border-radius: 5px;
   margin: 10px;
   border: 1px solid rgba(0, 0, 0, 0.1);
   overflow: hidden;
   .item {
      h2 {
         text-align: center;
      }
      .reactions {
         display: flex;
         button {
            width: 100%;
            border: none;
            outline: none;
            cursor: pointer;
            transition: all 0.5s;
            // z-index: 1;

            &:hover {
               background: rgba(0, 0, 0, 0.1);
            }
            img {
               width: 30px;
               padding: 20px 0;
               // z-index: -1;
            }
            &.backgWislist {
               background-color: rgba(255, 0, 0, 0.274);
               opacity: 1;
            }

            &.backgCart {
               background-color: rgba(84, 182, 83, 0.63);
               opacity: 1;
            }
         }
      }
   }
}
